# THIS IS FOR BUILDING THE DOCS AUTOMATICALLY AT https://readthedocs.org/
pandas
sphinx_rtd_theme
click
snakemake>=3.4.2
networkx
jupyter_contrib_nbextensions
xlwt
ruamel.yaml
pyparsing
jupyter_nbextensions_configurator
synapseclient>=1.5.1
recommonmark
jupyter
munch
Sphinx
ipython
numpy
widgetsnbextension
xlrd
pip
numexpr
bumpversion
seaborn
